.homeBody {
  height: 100%;
}

h2 {
  font-size: 150%;
  text-align: center
}

.instructions {
  margin: 3%;
  border-radius: 15px;
  background-color: #EBEEEA;
  left:50%;
}

.instructions p {
  font-size: 125%;
  padding: 1%;
}