.userViewofOpponentBoard, .userPlacementBoard{
  display: grid;
  grid-template-columns: repeat(5, 10vw);
  grid-template-rows: repeat(5, 10vw);
  margin: 1%;
  position: absolute;
  top: calc(30% - 7vh);
  left: 25vw;
  opacity: 1;
  color: #EBEEEA;
}

.userViewofOpponentBoard{
  opacity: 0;
}

.cell{
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background:  radial-gradient(ellipse at center, rgba(89,111,95,1) 0%, rgba(89,111,95,1) 59%, rgba(0,0,0,1) 100%);
}

.hit{
  background: radial-gradient(ellipse at center, rgba(255,201,194,1) 0%, rgba(255,201,194,1) 59%, rgba(0,0,0,1) 100%);
}

.missed{
  background: radial-gradient(ellipse at center, rgba(110,138,145,1) 0%, rgba(110,138,145,1) 59%, rgba(0,0,0,1) 100%);
}

.taken{
  background-image: url('/images/shipsvg.png'), radial-gradient(ellipse at center, rgba(89,111,95,1) 0%, rgba(89,111,95,1) 59%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hit.taken{
  background: url('/images/shipsvg.png'), radial-gradient(ellipse at center, rgba(255,201,194,1) 0%, rgba(255,201,194,1) 59%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


input[type='checkbox']:checked ~.board .userViewofOpponentBoard{
  opacity: 1;
}

input[type='checkbox']:checked ~.board .userPlacementBoard{
  opacity: 0;
}

input[type='checkbox'], span{
  float: right;
}

input[type='checkbox']{
  height: 3vw;
  width: 3vw;
}

span{
  padding: 1%;
  border: 2px inset black;
  background: #EBEEEA; 
}

@media (min-width: 768px) {
  .userViewofOpponentBoard, .userPlacementBoard{
    display: grid;
    grid-template-columns: repeat(5, 10vw);
    grid-template-rows: repeat(5, 10vw);
    margin: 1%;
    position: absolute;
    top: calc(30% - 7vh);
    left: 5vw;
    opacity: 1;
    color: #EBEEEA;
  }
}