.game-form {
  background-color: #EFEFEF;
  border: solid rgb(90, 78, 78);
  border-radius: 15px;
  text-align: center;
  font-size: 1em;
  position: relative;
  bottom: 7vh;
 }

 .board {
   /* position: relative; */
   height: 70vh;
 }

 .input1 {
   margin-top: 1vh;
 }

 .input-text {
  margin-top: 1vh;
}

.game-button {
  margin-top: 1vh;
}

.phase{
  width: 30%;
  height: 40px;
  margin: 5px auto;
  text-align: center;
  color: rgba(152, 184, 192, 0.753);
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);
  font-size: 20px;
  background: #EBEEEA;
  border: #4390AF inset 2px;
}

.error{
  color: red;
  margin: 10px;
}

 @media (min-width: 768px) {
  .game-form {
    float: right;
    width: 35vw;
    left: 5vw;
    height: 35vh;
    top: -400px;
    right: 5vw;
    margin-right: 10vw;
    margin-top: 5vh;
  }
  
  .input1 {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .input3 {
    margin-top: 9vh;
  }

  .input-text {
    margin-top: 2vh;
  }

  .game-button {
    margin-top: 2vh;
  }
 }
