.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(49, 49, 49, 0.9);
  height: 100%;
  width: 100%;
}

.modal main {
  position: fixed;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(192, 192, 192, .8);
}

.exit {
  float: right;
}