.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(49, 49, 49, 0.9);
  height: 100%;
  width: 100%;
}

.modal main {
  position: fixed;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:150px;
  width:50%;
  background-color: #efefef;
  border:solid rgb(90, 78, 78);
  border-radius: 15px;
}

.exit {
  margin:10px 10px 0px 0px;
  float: right;
}

@media (min-width: 768px) {
  .modal main{
    max-width:500px;
  }
}