header {
  height: 50px;
}

.nav {
  background-color: rgb(90, 78, 78);
}

.loggedin {
  color: rgb(209, 209, 209);
}

.link {
  display: inline-block;
  width: 15%;
  float: left;
  clear: left;
}

.nav p {
  position: fixed;
  right: 10%;
  line-height: 3em;
}

a {
  color: rgb(209, 209, 209);
  padding-left: .5%;
}

a:hover {
  color: rgb(145, 142, 142)
}

.auth {
  float: left;
  display: inline-block;
  font-size: 175%;
}

h1 {
  display: inline-block;
  font-size: 175%;
}

.authentication {
  float: right;
  line-height: 4.9em;
}

.signout {
  float: right;
  line-height: 4px;
}
