header {
  height: 50px;
}

.nav {
  min-height:60px;
  background-color: rgb(90, 78, 78);
}

.loggedin {
  color: rgb(209, 209, 209);
}


.link a { text-decoration: none; margin-right: 35px; }

.link {
  margin-top:25px;
  display: inline-block;
  width: 50%;
  clear: left;
}

.nav p {
  position: fixed;
  right: 10%;
  line-height: 3em;
}

a {
  color: rgb(209, 209, 209);
  padding-left: .5%;
}

a:hover {
  color: rgb(145, 142, 142)
}

.auth {
  float: left;
  display: inline-block;
  font-size: 175%;
}

.authentication {
  float: right;
  line-height: 4px;
}

.signout {
  float: right;
  line-height: 4px;
}

.effect {
  margin: 20px;
}

.signin{
margin-right: 20px;
margin-top: 20px;
}
.signup{
  margin-right: 20px;
  margin-top: 20px;
}


.signin:hover {
  background-color: rgb(145, 142, 142);
  transition: 250ms;
}

.signup:hover {
  background-color: rgb(145, 142, 142);
  transition: 250ms;
}

.effect:hover {
  background-color: rgb(145, 142, 142);
  transition: 250ms;
}


img{
  margin-left: 10px;
  float: left;
  margin-right: 30px;
}