header {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: rgb(90, 78, 78);
}

.loggedin {
  color: rgb(209, 209, 209);
}

.nav p {
  position: fixed;
  right: 10%;
  margin: 1%;
  top: 6%;
}

a {
  color: rgb(209, 209, 209);
  padding-left: .5%;
}

a:hover {
  color: rgb(145, 142, 142)
}

h1 {
  font-size: 175%;
  padding-left: .5%;
}

.signin {
  position: fixed;
  right: 0vw;
  margin: 1%;
  top: 5.5%;
}

.signout {
  position: fixed;
  right: 0%;
  margin: 1%;
  top: 5.5%;
}

.signup {
  position: fixed;
  right: 11vw;
  margin: 1%;
  top: 5.5%;
}

@media (min-width: 768px) {
  .signup {
    right: 6vw;
  }
}